<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="login.css">
		<link rel="stylesheet" type="text/css" href="media-queries.css">
		<title>Orders</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="headerContent">
					<div class="logo"><a href=""><span class="pink">Pink <span class="pink">Flamingo</span><span class="gray">.com</span></a></div>
					<ul class="nav">
						<li><a href="#" class="active">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Freelancers</a></li>
						<li><a href="#">Works</a></li>
						<li><a href="#">Contacts</a></li>
						<li><a href="#">Log In</a></li>
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="leftCol">
					<ul class="leftNav">
						<li><a href="#">Add project</a></li>
						<li>
                            <form>
                                    <input type="search" contenteditable="false" placeholder="Search">
                                    <input type="button" name="Search" value="Search">
                            </form>
                        </li>
					</ul>
				</div>
				<div class="main">
					<form action="#" class="form">
                        <h1 class="form__title">Log In</h1>
                        <div class="form_group">
                            <input class="form__input" placeholder="Login">
                        </div>
                        
                        <div class="form_group">
                            <input type=password class="form__input" placeholder="Password">
                        </div>
                        
                        <button type="submit" class="form__button">Log In</button>
                        <input type="reset" class="form__reset">
                    </form>
				</div>
			</div>
			<div class="footer">
				<p>&copy; Footer content <a href="#">Link footer</a></p>
			</div>
		</div>
		<script src="css3-mediaqueries.js"></script>
	</body>
</html>